# Bytecode cache (Python compiled files)
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdm.toml
*.pdm.lock

# Virtual Environment
venv/
.venv/

# Logs & Debug
logs/
*.log
debug.log

# Environment variables
.env
.env.local
.env.*

# Build files
build/
dist/
*.egg-info/

# Cache
.mypy_cache/
.pytest_cache/
